{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}{% endblock meta %}
<script src="https://cdn.tailwindcss.com">
</script>
<link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
</head>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const toastCookie = document.cookie.split('; ').find(row => row.startsWith('toast='));
  if (toastCookie) {
    const message = decodeURIComponent(toastCookie.split('=')[1]);
    if (message) showToast(message, 'success');
    document.cookie = 'toast=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
  }
});
</script>
<body>
    {% block content %}
    {% endblock content %} 
    {% include 'toast.html' %}
    {% include 'modal.html' %}
</body>
</html>