{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Item List</button></a></p>

<h1>{{ item.name }}</h1>
<div class="meta">
  <p><strong>Category:</strong> {{ item.get_category_display }}</p>
  {% if item.is_featured %}<p><strong>Featured:</strong> Yes</p>{% endif %}
  {% if item.size %}<p><strong>Size:</strong> {{ item.size }}</p>{% endif %}
  <p><strong>Brand:</strong> {{ item.brand }}</p>
  <p><strong>Price:</strong> Rp{{ item.price }}</p>
  <p><strong>Stock:</strong> {{ item.stock }}</p>
  <p><strong>Created:</strong> <i>{{ item.created_at|date:"d M Y, H:i" }}</i></p>
</div>

{% if item.thumbnail %}
  <img src="{{ item.thumbnail }}" alt="Item thumbnail" width="300">
  <br><br>
{% endif %}

<div>
  {{ item.description|linebreaks }}
</div>

{% if item.user %}
    <p>Seller: {{ item.user.username }}</p>
{% else %}
    <p>Seller: Anonymous</p>
{% endif %}

{% endblock content %}
