<h1>PF_Shop</h1>

<h5>Name: </h5>
<p>{{ "Adidas Predator Acceler 1998 Red White Black" }}</p>
<h5>Price: </h5>
<p>{{ 32907538 }}</p> 
<h5>Stock: </h5>
<p>{{ 1 }}</p> 
<h5>Brand: </h5>
<p>{{ "Adidas" }}</p> 
<h5>Size: </h5>
<p>{{ "Us8,5 Fr42" }}</p> 
<h5>Category: </h5>
<p>{{ "Shoes" }}</p> 
<h5>Is_featured: </h5>
<p>{{ True }}</p> 
<h5>Description: </h5>
<p>{{ "Step back into football history with iconic style and unstoppable control. The legendary Predator Acceler 1998 returns in bold red, white, and black, combining classic design with modern comfort. Own the pitch, own the moment." }}</p> 
<h5>Thumbnail: </h5>
<p>{{ "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.soccerbible.com%2Fperformance%2Ffootball-boots%2F2018%2F08%2Fadidas-reissue-the-1998-predator-accelerator-blackwhitered%2F&psig=AOvVaw1RKg9NCwI7tgzAjmj9Dtve&ust=1757300224276000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCJC528_TxY8DFQAAAAAdAAAAABAE" }}</p>