 {% extends 'base.html' %}
 {% load humanize %}
 {% block content %}
 
<h1>PF Shop</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_item' %}">
  <button>+ Add Item</button>
</a>

<hr>

{% if not item_list %}
  <p>Belum ada data item.</p>
{% else %}

{% for item in item_list %}
<div>
  <h2><a href="{% url 'main:show_item' item.id %}">{{ item.name }}</a></h2>

  <div class="meta">
    <p><strong>Category:</strong> {{ item.get_category_display }}</p>
    {% if item.is_featured %}<p><strong>Featured:</strong> Yes</p>{% endif %}
    {% if item.size %}<p><strong>Size:</strong> {{ item.size }}</p>{% endif %}
    <p><strong>Brand:</strong> {{ item.brand }}</p>
    <p><strong>Price:</strong> Rp{{ item.price }}</p>
    <p><strong>Stock:</strong> {{ item.stock }}</p>
    <p><strong>Created:</strong> <i>{{ item.created_at|date:"d M Y H:i" }}</i></p>
</div>


  {% if item.thumbnail %}
    <img src="{{ item.thumbnail }}" alt="thumbnail" width="150" height="100"><br />
  {% endif %}

  <p>{{ item.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_item' item.id %}"><button>Detail</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}

{% endblock content %}